In [11]:
import pandas as pd
import gender_guesser.detector as gender_detector

In [1]:
df = pd.read_csv('employee_earnings.csv')
df

,the_geom,cartodb_id,the_geom_webmercator,calendar_year,quarter,last_name,first_name,title,job_code,department_name,...,base_gross_pay_qtd,longevity_gross_pay_qtd,post_separation_gross_pay_qtd,miscellaneous_gross_pay_qtd,employee_category,compulsory_union_code,termination_month,termination_year,public_id,objectid
0,NaN,1,NaN,2020,3,Fant,Dana,Police Officer 1,6A02,PPD Police,...,20931.02,1711.33,NaN,7423.24,Civil Service,P,NaN,NaN,24650,21627431
1,NaN,2,NaN,2022,1,Fant,Dana,Police Officer 1,6A02,PPD Police,...,18446.40,1525.50,NaN,1514.94,Civil Service,P,NaN,NaN,24650,21627432
2,NaN,3,NaN,2019,3,Cousar,Reginald,Custodial Worker 2,7D12,PPD Police,...,10127.78,245.42,NaN,90.45,Civil Service,M,NaN,NaN,21666,21627433
3,NaN,4,NaN,2020,4,Jones,Wanda,Sanitation Collections Assistant Admin,7A27,STS Streets,...,28463.37,491.07,NaN,-209.65,Civil Service,N,NaN,NaN,17486,21627434
4,NaN,5,NaN,2019,2,Lee,David,Police Sergeant,6A04,PPD Police,...,19318.80,1400.98,NaN,1258.76,Civil Service,P,NaN,NaN,11789,21627435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616237,NaN,616238,NaN,2023,2,Harrell,Ezekiel,Building Maintenance Supervisor,7H61,FLP Free Library of Phila,...,6349.58,141.12,NaN,45.09,Civil Service,N,NaN,NaN,29693,22219296
616238,NaN,616239,NaN,2023,2,Gittel,Todd,Police Officer 1,6A02,PPD Police,...,9546.00,966.84,NaN,1052.45,Civil Service,P,NaN,NaN,15289,22219297
616239,NaN,616240,NaN,2023,2,Lepchuk,W. Matthew,Administrative Assistant - Non-Confidential,2L10,PPR Parks and Recreation,...,4560.60,78.56,NaN,0.00,Civil Service,J,NaN,NaN,4704,22219298
616240,NaN,616241,NaN,2023,2,Hitson,Kimberly,Account Clerk,1B10,DHS Dept of Human Services,...,4774.63,94.83,NaN,0.00,Civil Service,M,NaN,NaN,27943,22219299
616241,NaN,616242,NaN,2023,2,Burgos,Breciendi,Detective,6A12,PPD Police,...,10500.30,582.90,NaN,868.26,Civil Service,P,NaN,NaN,20915,22219300

In [2]:
df.columns

Index(['the_geom', 'cartodb_id', 'the_geom_webmercator', 'calendar_year',
       'quarter', 'last_name', 'first_name', 'title', 'job_code',
       'department_name', 'department_number', 'base_salary', 'salary_type',
       'overtime_gross_pay_qtd', 'base_gross_pay_qtd',
       'longevity_gross_pay_qtd', 'post_separation_gross_pay_qtd',
       'miscellaneous_gross_pay_qtd', 'employee_category',
       'compulsory_union_code', 'termination_month', 'termination_year',
       'public_id', 'objectid'],
      dtype='object')

In [3]:
df.isnull().sum()

the_geom                         616242
cartodb_id                            0
the_geom_webmercator             616242
calendar_year                         0
quarter                               0
last_name                             0
first_name                            0
title                                 0
job_code                              0
department_name                       0
department_number                     0
base_salary                       29186
salary_type                           4
overtime_gross_pay_qtd           301837
base_gross_pay_qtd                    0
longevity_gross_pay_qtd          208757
post_separation_gross_pay_qtd    607304
miscellaneous_gross_pay_qtd           0
employee_category                     0
compulsory_union_code                32
termination_month                576426
termination_year                 576426
public_id                             0
objectid                              0
dtype: int64

In [4]:
columns_to_drop = ['the_geom', 'cartodb_id', 'job_code', 'the_geom_webmercator', 'post_separation_gross_pay_qtd']
df = df.drop(columns_to_drop, axis=1)
df

,calendar_year,quarter,last_name,first_name,title,department_name,department_number,base_salary,salary_type,overtime_gross_pay_qtd,base_gross_pay_qtd,longevity_gross_pay_qtd,miscellaneous_gross_pay_qtd,employee_category,compulsory_union_code,termination_month,termination_year,public_id,objectid
0,2020,3,Fant,Dana,Police Officer 1,PPD Police,11,78092.0,Salaried,3500.96,20931.02,1711.33,7423.24,Civil Service,P,NaN,NaN,24650,21627431
1,2022,1,Fant,Dana,Police Officer 1,PPD Police,11,80240.0,Salaried,6801.97,18446.40,1525.50,1514.94,Civil Service,P,NaN,NaN,24650,21627432
2,2019,3,Cousar,Reginald,Custodial Worker 2,PPD Police,11,38023.0,Salaried,1151.38,10127.78,245.42,90.45,Civil Service,M,NaN,NaN,21666,21627433
3,2020,4,Jones,Wanda,Sanitation Collections Assistant Admin,STS Streets,12,96433.0,Salaried,985.28,28463.37,491.07,-209.65,Civil Service,N,NaN,NaN,17486,21627434
4,2019,2,Lee,David,Police Sergeant,PPD Police,11,83714.0,Salaried,1660.21,19318.80,1400.98,1258.76,Civil Service,P,NaN,NaN,11789,21627435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
616237,2023,2,Harrell,Ezekiel,Building Maintenance Supervisor,FLP Free Library of Phila,52,71283.0,Salaried,3899.67,6349.58,141.12,45.09,Civil Service,N,NaN,NaN,29693,22219296
616238,2023,2,Gittel,Todd,Police Officer 1,PPD Police,11,83048.0,Salaried,7994.58,9546.00,966.84,1052.45,Civil Service,P,NaN,NaN,15289,22219297
616239,2023,2,Lepchuk,W. Matthew,Administrative Assistant - Non-Confidential,PPR Parks and Recreation,16,53822.0,Salaried,NaN,4560.60,78.56,0.00,Civil Service,J,NaN,NaN,4704,22219298
616240,2023,2,Hitson,Kimberly,Account Clerk,DHS Dept of Human Services,22,41577.0,Salaried,NaN,4774.63,94.83,0.00,Civil Service,M,NaN,NaN,27943,22219299
616241,2023,2,Burgos,Breciendi,Detective,PPD Police,11,91352.0,Salaried,3970.42,10500.30,582.90,868.26,Civil Service,P,NaN,NaN,20915,22219300

In [8]:
df.dtypes

calendar_year                    int64
quarter                          int64
last_name                       object
first_name                      object
title                           object
department_name                 object
department_number                int64
base_salary                    float64
salary_type                     object
overtime_gross_pay_qtd         float64
base_gross_pay_qtd             float64
longevity_gross_pay_qtd        float64
miscellaneous_gross_pay_qtd    float64
employee_category               object
compulsory_union_code           object
termination_month              float64
termination_year               float64
public_id                        int64
objectid                         int64
dtype: object

In [5]:

def guess_gender(name):
    d = gender.Detector()
    return d.get_gender(name)

# Example usage
name = "Alex"
gender = guess_gender(name)
print(f"The gender for the name {name} is {gender}.")

The gender for the name Alex is male.

In [12]:
def guess_gender(name):
    d = gender_detector.Detector()
    return d.get_gender(name)

df['gender'] = df['first_name'].apply(guess_gender)

KeyboardInterrupt: